---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/jordy@corkery.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"first_name","value":"jordy"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a1b9cca1-003a-4c82-8cc9-8ee136987f8b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499891'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '145'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B522016187E20457935F6F16DEDFA54323A1BC43D000000000000000000
    body:
      encoding: UTF-8
      string: '{"validationResults":[{"isValid":false,"message":"Property \"first_name\"
        does not exist","error":"PROPERTY_DOESNT_EXIST","name":"first_name"}],"status":"error","message":"Property
        values were not valid","correlationId":"a1b9cca1-003a-4c82-8cc9-8ee136987f8b"}'
  recorded_at: Tue, 21 Feb 2023 12:37:53 GMT
recorded_with: VCR 6.1.0
