---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/test@test.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"jordy@corkery.com"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a1c05795-5bf6-4217-b807-46a0b4cebea0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499996'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B1A0869F36246929ECC7EB23703C85F2A0818D8FC000000000000000000
    body:
      encoding: UTF-8
      string: '{"message":"A contact with the email ''jordy@corkery.com'' already
        exists. Existing ID: 9052","identityProfile":{"vid":9052,"identity":[{"value":"94ed6b6a-d998-410e-92ec-b2747ff81a05","type":"LEAD_GUID","timestamp":1676035095841},{"value":"jordy@corkery.com","type":"EMAIL","timestamp":1676979362027,"isPrimary":true}],"linkedVid":[],"isContact":true,"savedAtTimestamp":1676979362093},"errors":[{"message":"A
        contact with email jordy@corkery.com already exists. Existing ID: %d [9052]","in":"email"}],"status":"error","correlationId":"a1c05795-5bf6-4217-b807-46a0b4cebea0","category":"OBJECT_ALREADY_EXISTS","error":"CONTACT_EXISTS"}'
  recorded_at: Wed, 22 Feb 2023 10:26:39 GMT
recorded_with: VCR 6.1.0
