---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/test@test.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"test@test.com"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2aa62a16-7a1e-41ba-8386-9fccff464b6f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499895'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BBE02C5F4A80D00DEA4D754AA024C4318DBF55E92000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":9301,"isNew":false}'
  recorded_at: Tue, 21 Feb 2023 12:37:52 GMT
recorded_with: VCR 6.1.0
