---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/jordy@corkery.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"first_name","value":"jordy"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 48ee5ce4-9c03-4f9c-8f06-c65eabf30447
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499995'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '145'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B12054B31F7AFBB441C7C02E3B87A949A13DEAF1C000000000000000000
    body:
      encoding: UTF-8
      string: '{"validationResults":[{"isValid":false,"message":"Property \"first_name\"
        does not exist","error":"PROPERTY_DOESNT_EXIST","name":"first_name"}],"status":"error","message":"Property
        values were not valid","correlationId":"48ee5ce4-9c03-4f9c-8f06-c65eabf30447"}'
  recorded_at: Wed, 22 Feb 2023 10:26:39 GMT
recorded_with: VCR 6.1.0
