---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/jordy@corkery.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"jordy"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '084cb233-7fe0-4ac3-bb78-95332619c91b'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499998'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BECA2BC2300CD102D98AD89912850ABA6AAFCDE89000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":9052,"isNew":false}'
  recorded_at: Wed, 22 Feb 2023 10:26:37 GMT
recorded_with: VCR 6.1.0
