---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/jordy@corkery.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"jordy"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e84652fd-5ac4-474b-8f1e-32e5391802c8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499894'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B47EB3998F19CBF0F8A322A2560F925AF895DC2B8000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":9052,"isNew":false}'
  recorded_at: Tue, 21 Feb 2023 12:37:52 GMT
recorded_with: VCR 6.1.0
