---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 622f9227-255a-4da3-99db-023874d1b616
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499997'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '147'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B770468EFF7D88351357B0600E0879ACBAF3A6865000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"6651","properties":{"createdate":"2023-01-30T16:49:01.858Z","email":"viola@rippin.io","firstname":"Sofiiya","hs_object_id":"6651","lastmodifieddate":"2023-01-30T16:49:29.758Z","lastname":"Yurova"},"createdAt":"2023-01-30T16:49:01.858Z","updatedAt":"2023-01-30T16:49:29.758Z","archived":false},{"id":"6652","properties":{"createdate":"2023-01-30T16:49:01.903Z","email":"admin333@leobit.com","firstname":"Sofiiya","hs_object_id":"6652","lastmodifieddate":"2023-01-30T16:49:57.262Z","lastname":"Yurova"},"createdAt":"2023-01-30T16:49:01.903Z","updatedAt":"2023-01-30T16:49:57.262Z","archived":false},{"id":"6701","properties":{"createdate":"2023-01-30T17:15:33.727Z","email":"drake@connelly.net","firstname":"Junius","hs_object_id":"6701","lastmodifieddate":"2023-01-30T17:15:58.867Z","las[...]
