---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/test@test.com
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"test@test.com"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - eec4d7f0-0f66-454c-8155-6c9cfeb5b5dc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499999'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B1FB92F018B7B9E9CF0BE7B288EB0266832D4B34C000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":9301,"isNew":false}'
  recorded_at: Wed, 22 Feb 2023 10:26:36 GMT
recorded_with: VCR 6.1.0
