---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"domain","value":"test.test.com"},{"name":"name","value":"test"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3e243c2b-09cd-4b50-b690-082fd0509a75
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499966'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B137FCF8D20B7095451E27AC64B78FB9C2F52A8C6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":26860844,"companyId":7114288573,"isDeleted":false,"properties":{"website":{"value":"test.test.com","timestamp":1677593687269,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"test.test.com","timestamp":1677593687269,"source":"CALCULATED","sourceVid":[],"requestId":"3e243c2b-09cd-4b50-b690-082fd0509a75"}]},"hs_lastmodifieddate":{"value":"1677593687269","timestamp":1677593687269,"source":"INTEGRATION","sourceId":"1387894","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1677593687269","timestamp":1677593687269,"sourceId":"1387894","source":"INTEGRATION","sourceVid":[],"requestId":"3e243c2b-09cd-4b50-b690-082fd0509a75"}]},"domain":{"value":"test.test.com","timestamp":1677593687269,"source":"INTEGRATION","sourceId":"1387894","updatedByUserId":null,"versions":[{"name":"domain","value":"test.test.com","timestamp":1677593687269,"sourceId":"1387894","source":"INTEGRATION","sourceVid":[],"requestId":"3e243c2b-09cd-4b50-b690-082fd0509a75"}]},"name":{"value":"test","timestamp":1677593687269,"source":"INTEGRATION","sourceId":"1387894","updatedByUserId":null,"versions":[{"name":"name","value":"test","timestamp":1677593687269,"sourceId":"1387894","source":"INTEGRATION","sourceVid":[],"requestId":"3e243c2b-09cd-4b50-b690-082fd0509a75"}]},"hs_object_id":{"value":"7114288573","timestamp":1677593687269,"source":"INTEGRATION","sourceId":"1387894","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"7114288573","timestamp":1677593687269,"sourceId":"1387894","source":"INTEGRATION","sourceVid":[],"requestId":"3e243c2b-09cd-4b50-b690-082fd0509a75"}]},"hs_pipeline":{"value":"companies-lifecycle-pipeline","timestamp":1677593687269,"source":"INTEGRATION","sourceId":"1387894","updatedByUserId":null,"versions":[{"name":"hs_pipeline","value":"companies-lifecycle-pipeline","timestamp":1677593687269,"sourceId":"1387894","source":"INTEGRATION","sourceVid":[],"requestId":"3e243c2b-09cd-4b50-b690-082fd0509a75"}]},"createdate":{"value":"1677593687269","timestamp":1677593687269,"source":"INTEGRATION","sourceId":"1387894","updatedByUserId":null,"versions":[{"name":"createdate","value":"1677593687269","timestamp":1677593687269,"sourceId":"1387894","source":"INTEGRATION","sourceVid":[],"requestId":"3e243c2b-09cd-4b50-b690-082fd0509a75"}]},"lifecyclestage":{"value":"lead","timestamp":1677593687269,"source":"INTEGRATION","sourceId":"1387894","updatedByUserId":null,"versions":[{"name":"lifecyclestage","value":"lead","timestamp":1677593687269,"sourceId":"1387894","source":"INTEGRATION","sourceVid":[],"requestId":"3e243c2b-09cd-4b50-b690-082fd0509a75"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 28 Feb 2023 14:14:47 GMT
recorded_with: VCR 6.1.0
