---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/contact/vid/9351
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9ea1a244-0243-4aa5-9d50-a541c14946e3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499960'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B57BEB6147FD31660EC66BE44ECEFDD08B1871481000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":9351,"deleted":true,"reason":"OK"}'
  recorded_at: Tue, 28 Feb 2023 14:53:16 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/contact/vid/9351
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d939c92c-8ca8-4e8b-ab0a-2c3ba2c160c4
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499959'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BC1D8B46711657F3C06C39FD05253A2FCB4BE4C2E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"resource not found","correlationId":"d939c92c-8ca8-4e8b-ab0a-2c3ba2c160c4","errors":[{"message":"The
        contact 9351 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Tue, 28 Feb 2023 14:53:28 GMT
recorded_with: VCR 6.1.0
