---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v4/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1a9acedd-2542-435b-8556-63f948ae782f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499979'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B937869AF02E4723C8C56FD9FAC6DE1CD55DB7748000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"6651","properties":{"createdate":"2023-01-30T16:49:01.858Z","email":"viola@rippin.io","firstname":"Sofiiya","hs_object_id":"6651","lastmodifieddate":"2023-02-23T06:20:12.721Z","lastname":"Yurova"},"createdAt":"2023-01-30T16:49:01.858Z","updatedAt":"2023-02-23T06:20:12.721Z","archived":false},{"id":"6652","properties":{"createdate":"2023-01-30T16:49:01.903Z","email":"admin333@leobit.com","firstname":"Sofiiya","hs_object_id":"6652","lastmodifieddate":"2023-02-23T06:20:45.864Z","lastname":"Yurova"},"createdAt":"2023-01-30T16:49:01.903Z","updatedAt":"2023-02-23T06:20:45.864Z","archived":false},{"id":"6701","properties":{"createdate":"2023-01-30T17:15:33.727Z","email":"drake@connelly.net","firstname":"Junius","hs_object_id":"6701","lastmodifieddate":"2023-02-23T06:19:20.153Z","las[...]
