---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"test@test.co"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 34afc834-c9b3-4cd2-aa5b-79f8fe4e46ba
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499982'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BA71458B17CA6A1157132C38FDEC15B0A9EE75157000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":9451,"canonical-vid":9451,"merged-vids":[],"portal-id":26860844,"is-contact":true,"properties":{"email":{"value":"test@test.co","versions":[{"value":"test@test.co","source-type":"INTEGRATION","source-id":"1387894","source-label":null,"updated-by-user-id":null,"timestamp":1677500011686,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":9451,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"test@test.co","timestamp":1677500011692,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"db7af5ad-4e78-4a5c-b570-e5f03813e2c7","timestamp":1677500011741,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 27 Feb 2023 12:13:31 GMT
recorded_with: VCR 6.1.0
