---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/createOrUpdate/email/test@test.co
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"test@test.co"},{"property":"firstname","value":"test"}]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 569d4877-9288-447c-bb6f-908a4aebe981
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499976'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BD08880D70057ACCB3D285357019D6C48B2F34EB3000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":9451,"isNew":false}'
  recorded_at: Mon, 27 Feb 2023 12:41:47 GMT
recorded_with: VCR 6.1.0
