---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/contact/email/test@test.co
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Authorization:
      - Bearer demo
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 137603ed-4f50-4f57-8eef-bca6b9b94178
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499963'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B5CF58AB93B357972AEB9636E192D83C0F4B27424000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":8801,"deleted":true,"reason":"OK"}'
  recorded_at: Tue, 28 Feb 2023 14:26:30 GMT
recorded_with: VCR 6.1.0
